* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: revert-layer;
    font-style: italic;
    color: #000;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    margin: 1% 10%;
    width: 80%;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lg {
    cursor: pointer;
    width: 100%;
    height: auto;
    max-width: 5%;
    margin-bottom: 0;
}

.navbar ul {
    width: 70%;
    padding-top: 1rem;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0;
    position: relative;
    padding: 0 1.5rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul .nav:hover::after {
    width: 100%;
}

.nav-cont {
    display: flex;
    width: 50%;
}

.nav-cont .navpro {
    display: flex;
    width: 30%;
    height: 50px;
    padding-right: 1rem;
}

.navpro p {
    width: 100%;
    padding-top: 1rem;
}

.navpro img {
    max-width: 100%;
    max-height: 100%;
    width: 80px;
    height: 60px;
    border: 1px solid rgb(91, 68, 110);
    border-radius: 50%;
    margin-top: 12%;
    transform: translateY(-35%);
}

.container {
    width: 96%;
    height: auto;
    margin: 6% 2% 2% 2%;
    padding: 0.5% 5%;
}

.container .book-cont {
    position: relative;
    margin: 2%;
    width: 20%;
    height: auto;
    background-color: #fff;
    box-shadow: 0 0 5px 0;
    float: left;
}

.container h1 {
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    padding: 1rem;
}

.container .book-cont .b-ph {
    width: 100%;
    height: 60%;
}

.book-cont .b-ph img {
    width: 100%;
    height: 100%;
}

.b-info {
    width: 100%;
    height: 40%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.b-info a {
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    align-self: center;
}