{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home | Books</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'style/hm.css' %}" type="text/css">
        <link rel="icon" href="{% static 'images/lb.png' %}" type="image/png">
    </head>
    <body>
        <div class="navbar">
            <a href="home.html"><img src="{% static 'images/lb.png' %}" alt="logo" class="lg"/></a>
            <div class="nav-cont">
                <ul>
                    <li class="nav"><a href="#">Home</a></li>
                    <li class="nav"><a href="#">My Books</a></li>
                    <li class="nav"><a href="#">Sign Out</a></li>
                </ul>
                <div class="navpro">
                    <p class="hwrd">Hello, User</p>
                    <img src="{% static 'images/photo.jpg' %}"/>
                </div>
            </div>
        </div>
        <div class="container">
            <h1>Books</h1>
            {% for book in books %}
            <div class="book-cont">
                <div class="b-ph">
                    <img src="{{ book.bookImage.url }}" alt="book-photo" id="bk-img">
                </div>
                <div class="b-info">
                    <div class="b-name"><a href="#">{{ book.bookName }}</a></div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="footer">
            &copy;<script>document.write(new Date().getFullYear())</script>. All right reserved by <strong>babuSoft</strong>
        </div>
    </body>
</html>